<div class="card bg-secondary shadow border-0">
  <div class="card-body px-lg-5 py-lg-5">
    <div class="text-center text-muted mb-4">
      <small>Sign in with credentials</small>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.input :email,
                autofocus: true,
                autocomplete: "email",
                placeholder: "Email" %>
      <%= f.input :password, autocomplete: "off", placeholder: "Password" %>
      <%= f.input :remember_me, wrapper: :custom_boolean, as: :boolean %>
      <div class="text-center">
        <%= f.submit 'Sign in' , class: "btn btn-primary my-4" %>
      </div>
    <% end %>
  </div>
</div>
