<%= simple_form_for [:admin, user] do |f| %>
  <div class="pl-lg-4">
    <div class="col">
      <%= f.input :email, label: 'Email' %>
      <%= f.input :password, label: 'Password'  %>
      <%= f.input :password_confirmation, label: 'Password confirmation'  %>
    </div>
  </div>
  <hr class="my-4">
  <%= f.submit 'Save' , class: "btn btn-success" %>
<% end %>
